@media (max-width:767px) {
*{margin: 0; padding: 0; box-sizing: border-box;}
*{font-family: 'Playfair Display', cursive;}
#wrap{margin: 0 auto; width: 100%;}
.container{width: 100%; margin: 0 auto; height: auto;}
ul,li{list-style: none;}
a{text-decoration: none;}


/* 뉴욕상단 메인 */
header{width: 100%; height: 960px; margin: 0 auto;}

.main{width: 100%; background-image: url(../img/newyork2.jpg); background-size: cover; background-position: center; height: 960px; }
.headbigbox{width: 100%;display: flex; flex-flow: column;}
.navbox{width: 100%; height: 100px; display: flex; justify-content: space-between;
     margin-bottom: 100px; line-height: 10px; padding: 1%;}
.logo{font-size: 30px; font-weight: bold; margin-right: 20px;}
.logo a {color: black;}
.logo a:hover{color: white;}
.toggle{display: block; margin-top: 10px; position: relative;}
.toggle img{width: 40px;}
.toggle:hover{cursor: pointer;}
nav{display: flex; flex-flow: column; align-items: end; position: relative;}
nav ul{display: flex; flex-flow: column wrap; position: absolute; margin-top: 45px; padding: 1%;}
nav ul li{margin-top: 10px; position: relative; text-align: right; display: none;}
nav ul li a{color: black; margin-left: 20px;  line-height: 16px;}
nav a:hover{color: white;}
.maintext{ font-size: 70px;  color: white; font-weight: bold; text-align: center;}







/* 뉴욕 소개글 */
#middle{margin: 0 auto; width: 100%; height: 1350px; margin-bottom: 40px;}
.middlebigbox{width: 100%; height: 1000px; margin: 0 auto; padding: 1%;
    display: flex; flex-flow: wrap row; justify-content: space-around;
transform: translateY(100px); transition: all 3s ;opacity:0;}
.middlebigbox > div {width: 100%; height: auto; text-align: center; margin: 10px;}
.middletext{width: 1000px; text-align: center;}
.middletext p{font-size: 24px; }
.middletext h1{font-size: 48px; }





/* 뉴욕 명소 소개글 */

#submiddle{margin: 0 auto; width: 100%; height:1350px; background-color: #FC8621; transform: translateY(100px); transition: all 3s; opacity: 0;
}
.subbox{ width: 100%; display: flex; flex-flow: column; justify-content: center;
     margin-bottom: 40px; color: white; padding-top: 30px; padding: 1%;}

.arrow img{width: 50px;}
.arrow1L{text-align: center;}
.arrow2R{margin-left: 20px; margin-right: 110px;}
.arrow2R:hover{scale: 1.2; cursor: pointer;}
.arrow1L:hover{scale: 1.2; cursor: pointer;}

.subtext{width: 100%;}
.minitext{text-align: center; margin-bottom: 30px;}
.slidewrap2{width: 100%; position: relative ; overflow: hidden; margin: 0 auto;}

.slide-track {width: 100%; display: flex;margin-left: 0;}

.slide-track > div {width: 100%;flex-shrink: 0;display: flex;flex-flow: column wrap;  
    align-items: center; color: white; text-align: center; background-color: #FC8621;}

.msbox{width: 100%;;height: 522px;}
.msbox img{object-fit: cover; width: 100%;}
.msbox h2{font-size: 35px;}
.msbox p{font-size: 20px; font-family: sans-serif;}





/* 뉴욕 맛집 소개글 */
#food{margin: 0 auto; width: 100%; height: 900px;  text-align: center; padding: 1%; margin-bottom: 90px;}
#food img{width: 100%; height: 521px; object-fit: cover;}
.foodbigbox{width: 100%; margin-top: 150px;}
.foodbox{width: 100%; display: flex; justify-content: space-between; transition: transform 0.5s ease-in-out;
width: calc(100%*4)}

.foodbox div{flex: 0 0 25%; text-align: center; margin: 0 5px;}

.keens{text-align: center; width: 33.3%; margin:0 1%; }
.russ{ text-align: center;  width: 33.3%; margin:0 1%;}
.peter{ margin-right: 1%; text-align: center;  width: 33.3%; margin:0 1%;}
.levain{text-align: center;  width: 33.3%; margin:0 1%;}
.slidewrap{ width: 100%; position: relative; overflow: hidden;
transform: translateY(100px); transition: all 3s; opacity: 0;}




/* 블로그 */
#blog{margin: 0 auto; width: 100%; height: auto; transform: translateY(100px); transition: all 3s; opacity: 0; background-color: #ddd;
text-align: center; padding: 1%;}
#blog img{width: 98%; height: auto; object-fit: cover; margin-bottom: 15px;}
#blog h1{font-size: 50px;}
#blog a{text-decoration: none; color: #FC8621;}
#blog a:hover{background-color: #FC8621; color: white; padding: 10px; border-radius: 20px;}
.blog2 img{border: 1px solid #333;}
.blogbox{display: flex; flex-flow: wrap row; justify-content: space-between; align-items: center; margin-top: 20px; width: 100%;}
.blogbox > div {width: 100%; margin-top: 20px; border: solid 1px #333; padding: 3%;}


/* 미니바 */
#minibar{margin: 0 auto; width: 100%; height: 150px; background-color: #FC8621; color: white;
transform: translateY(100px); transition: all 3s; opacity: 0;}
#minibar p{border: 2px solid white;border-radius: 40px; padding: 0 40px 0 40px;}
#minibar p:hover{background-color: white; color: #FC8621;}
#minibar a{color: white;}
.minibarbox{display: flex; flex-flow: column; justify-content: space-between; align-items: center;
height: 142px; line-height: 50px; text-align: center;}
.minibarbox h1{font-size: 20px;}


/* 풋터 */
footer{width: 100%; height: auto; background-color: #efefef; padding: 1%; text-align: center;}
footer img{width: 30px;height: 30px; border-radius: 100%; object-fit: cover;}
footer img:hover{scale: 1.2;}
.footerbox{display: flex; flex-flow: wrap row; justify-content: space-between; align-content: center; background-color: #efefef;
width: 100%;height: auto; line-height: 35px; transform: translate(100px); transition: all 3s; opacity: 0; }
footer p{color: #777777;}
footer li{color:#777777}


}